<prodotti>
    <PORODOTTO>
        <id>1234</id>
        <codiceBarre>1234</codiceBarre>
        <prezzo>10</prezzo>
        <quantita>1</quantita>
        <dipendente>codiceFiscale</dipendente>
        <quantitaAggiunta>0</quantitaAggiunta>
        <max>2</max>
        <min>10</min>
        <listaPromozioni>
            <PROMOZIONE>
                <id>1</id>
                <prezzo>8</prezzo>
            </PROMOZIONE>
            <PROMOZIONE>
                <id>2</id>
                <prezzo>6</prezzo>
            </PROMOZIONE>
        </listaPromozioni>
        <listaVendite>
            <Id>1</Id>
            <data>2023-06-21</data>
            <prezzoTotale>10</prezzoTotale>
            <scontrino>
                1234 (1) 10 euro (10 euro)
                Totale: 10 euro
            </scontrino>
        </listaVendite>
    </PORODOTTO>
</prodotti>



